
<br></br>
<div class="container text-center">
   <div class="form-group b" style="background-color:aqua; border-radius: 10px; opacity: 0.7;">
      <div class="d-grid gap-3 mt-6 ">    
        <div> <h1>FIN DEL JUEGO</h1></div>
        <div> <h1>Felicitaciones: {{nombreParticipante}}</h1></div>
        <div> <h1>Su Puntaje es: {{puntaje}}</h1></div>
      </div>               
    </div>
</div>

<div class="container text-center mt-2">
  <form action="/index" method="get">
    <input type="submit" value="Volver al panel principal" class="btn btn-primary">
  </form>
</div>