<h3 class="formato">Panel del Juego</h3>
<br></br>
<form>
   <div class="form-group b">
      <div class="d-grid gap-3 mt-6 ">    
        <input type="text" name="juego" class="form-control" placeholder="FIN DEL JUEGO"><span class="border-3"></span>
        <input type="text" name="juego" class="form-control" placeholder="Felicitaciones: {{nombreParticipante}}"><span class="border-3"></span>
        <input type="text" name="juego" class="form-control" placeholder="Su Puntaje es: {{puntaje}}"><span class="border-3"></span>
        
      </div>               
    </div>
</form>