<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand bg-primary">Quien quiere ser Millonario</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
        <form action="votante" method="post">
            <input class="bg-primary" type="submit" name="participante" value="Votantes">
        </form>
    </div>
  </div>
</nav>


<div class="container-fluid" id="container-fluid">
    
            <div class="container-form sign-up">
                    <div class="welcome-back">
                        <div class="message">
                            <h2>Bienvenido</h2>
                            <p >Si ya tienes una cuenta por favor inicia sesion aqui</p>
                            <button class="sign-up-btn">Iniciar Sesion</button>
                        </div>
                    </div>
                    <form action="/registrar" method="post"  class="formulario">
                        <h2 class="create-account" >Crear una cuenta</h2><br>
                        <input  class="formularioImput" type="text" name="nombre" placeholder="Nombre">
                        <input  class="formularioImput" type="text" name="apellido" placeholder="Apellido">
                        <input  class="formularioImput" type="text" name="direccion" placeholder="Direccion">
                        <input  class="formularioImput" type="text" name="user" placeholder="Usuario">
                        <input  class="formularioImput" class="formularioImput" type="email" name="email" placeholder="Email">
                        <input  class="formularioImput" type="password" name="password" placeholder="Contraseña">
                        <input  type="submit" value="Registrarse" class = "btn btn-primary mb-3">
                    </form>
                </div>
                <div  class="container-form sign-in">
                    <form action="/index" method="post" class="formulario">
                        <h2 class="create-account">Iniciar Sesion</h2>
                        <input class="formularioImput" type="text" name="usuario" placeholder="Nombre">
                        <input class="formularioImput" type="password" name="password" placeholder="Contraseña">
                        
                            <input type="submit" value="ingresar" class="btn btn-primary mb-2">
                        
                        
                    </form>
                    <div class="welcome-back">
                        <div class="message">
                            <h2>Bienvenido de nuevo</h2>
                            <p >Si aun no tienes una cuenta por favor registrese aqui</p>
                            <button class="sign-in-btn">Registrarse</button>
                        </div>
                    </div>
                </div>
            </div>
        
    
</div>
<script>
                const $btnSignIn= document.querySelector('.sign-in-btn'),
                $btnSignUp = document.querySelector('.sign-up-btn'),  
                $signUp = document.querySelector('.sign-up'),
                $signIn  = document.querySelector('.sign-in');

                document.addEventListener('click', e => {
                    if (e.target === $btnSignIn || e.target === $btnSignUp) {
                    $signIn.classList.toggle('active');
                    $signUp.classList.toggle('active')
                    }
                });
</script>