<body>
    <main>
            <div class="container-form sign-up">
                    <div class="welcome-back">
                        <div class="message">
                            <h2>Bienvenido</h2>
                            <p >Si ya tienes una cuenta por favor inicia sesion aqui</p>
                            <button class="sign-up-btn">Iniciar Sesion</button>
                        </div>
                    </div>
                    <form action="/registrar" method="post"  class="formulario">
                        <h2 class="create-account" >Crear una cuenta</h2><br>
                        <input  class="formularioImput" type="text" name="nombre" placeholder="Nombre">
                        <input  class="formularioImput" type="text" name="apellido" placeholder="Apellido">
                        <input  class="formularioImput" type="text" name="direccion" placeholder="Direccion">
                        <input  class="formularioImput" type="text" name="user" placeholder="Usuario">
                        <input  class="formularioImput" class="formularioImput" type="email" name="email" placeholder="Email">
                        <input  class="formularioImput" type="password" name="password" placeholder="Contraseña">
                        <input  type="submit" value="Registrarse" class = "btn btn-primary">
                    </form>
                </div>
                <div  class="container-form sign-in">
                    <form action="/index" method="post" class="formulario">
                        <h2 class="create-account">Iniciar Sesion</h2>
                        <input class="formularioImput" type="text" name="usuario" placeholder="Nombre">
                        <input class="formularioImput" type="password" name="password" placeholder="Contraseña">
                        
                            <input type="submit" value="ingresar" class="btn btn-primary">
                        
                        
                    </form>
                    <div class="welcome-back">
                        <div class="message">
                            <h2>Bienvenido de nuevo</h2>
                            <p >Si aun no tienes una cuenta por favor registrese aqui</p>
                            <button class="sign-in-btn">Registrarse</button>
                        </div>
                    </div>
                </div>
            </div>
        
    </main>
</body>
<script>
                const $btnSignIn= document.querySelector('.sign-in-btn'),
                $btnSignUp = document.querySelector('.sign-up-btn'),  
                $signUp = document.querySelector('.sign-up'),
                $signIn  = document.querySelector('.sign-in');

                document.addEventListener('click', e => {
                    if (e.target === $btnSignIn || e.target === $btnSignUp) {
                    $signIn.classList.toggle('active');
                    $signUp.classList.toggle('active')
                    }
                });
</script>