<form>
    <div class="col-md-2 mt-4">
        <card class="card-body">PUNTOS</card>
    </div>
</form>

<form>
<div style="text-align: center;" class="form-group mt-3">
       <card class="card-body">PREGUNTA</card>
        
</form>

<form style="text-align: center;">
 <div class="millonario">
  
        <!-- Primera fila de botones -->
        <div class="millonario__item">
          <div class="opciones">
            <div class="opciones__item">
              <button id="a" class="button fondoA"><span class="amarillo">A:</span></button>
            </div>
      
            <div class="opciones__item">
              <button id="b" class="button fondoB"><span class="amarillo">B:</span></button>
            </div>
          </div>
        </div>
      
        <!-- Segunda fila de botones -->
        <div class="millonario__item">
          <div class="opciones">
            <div class="opciones__item">
              <button id="c" class="button fondoA"><span class="amarillo">C:</span></button>
            </div>
            
            <div class="opciones__item">
              <button id="d" class="button fondoB"><span class="amarillo">D:</span></button>
            </div>
          </div>
        </div>
      </div>
</form>

<form>
    <div class="form-group mt-4">
    <input type="submit" value="COMODIN 1" class="btn btn-warning" name="comodin1">
    <input type="submit" value="COMODIN 2" class="btn btn-success" name="comodin2">
    <input type="submit" value="COMODIN 3" class="btn btn-danger" name="comodin3">
    </div>
</form>