<h3 class="formato">Panel Administrador</h3>
<br></br>
<form>
   <div class="form-group b">
      <div class="d-grid gap-3 mt-6 ">    
        <input type="text" name="juego" class="form-control" placeholder="Nombre del Juego" autofocus><span class="border-3"></span>
      </div>               
    </div>
</form>
<br></br>
<form style="text-align:justify;">
  <div class="millonario">
     
        <!-- Primera fila de botones -->
        <div class="millonario__item">
          <div class="opciones">
            <div class="opciones__item">
              <button id="a" class="button fondoA"><span class="amarillo">A:</span></button>
            </div>
      
            <div class="opciones__item">
              <button id="b" class="button fondoB"><span class="amarillo">B:</span></button>
            </div>
          </div>
        </div>
      
        <!-- Segunda fila de botones -->
        <div class="millonario__item">
          <div class="opciones">
            <div class="opciones__item">
              <button id="c" class="button fondoA"><span class="amarillo">C:</span></button>
            </div>
            
          <div class="opciones__item">
              <button id="d" class="button fondoB"><span class="amarillo">D:</span>Hola mi respuesta es larga para verificar comom estan saliendo las cosas</button>
          </div>
        </div>
      </div>
    </div>
</form>

<form>
    <div style="text-align: center;" class="form-group mt-4">
    <input type="submit" value="COMODIN 1" class="btn btn-warning" name="comodin1">
    <input type="submit" value="COMODIN 2" class="btn btn-success" name="comodin2">
    <input type="submit" value="COMODIN 3" class="btn btn-danger" name="comodin3">
    </div>
</form>