<form>
    <div class="col-md-2 mt-4">
        <card class="card-body">PUNTOS</card>
    </div>
</form>

<form>
<div class="form-group mt-3">
       <card class="card-body">PREGUNTA</card>
        
</form>

<form>
<div class="form-group mt-2">
        <h4 class="card-title d-flex justify-content-between">
            <input type="submit" value="A" class="btn btn-warning " name="botonpreg1">
        <textarea name="res1" class="form-control" placeholder="Respuesta 1" disabled="disabled"></textarea>
            <input type="submit" value="B" class="btn btn-warning " name="botonpreg2">
        <textarea name="res2" class="form-control" placeholder="Respuesta 2"disabled="disabled"></textarea>
            <input type="submit" value="C" class="btn btn-warning " name="botonpreg3">
        <textarea name="res3" class="form-control" placeholder="Respuesta 3"disabled="disabled"></textarea>
            <input type="submit" value="D" class="btn btn-warning " name="botonpreg4">
        <textarea name="res4" class="form-control" placeholder="Respuesta 4"disabled="disabled"></textarea>
        </h4>
</form>

<form>
    <input type="submit" value="COMODIN 1" class="btn btn-warning" name="comodin1">
    <input type="submit" value="COMODIN 2" class="btn btn-success" name="comodin2">
    <input type="submit" value="COMODIN 3" class="btn btn-danger" name="comodin3">
</form>