<form>
    <div class="col-md-2 mt-4">
        <card class="card-body">PUNTOS</card>
    </div>
</form>

<form>
<div class="form-group mt-3">
       <card class="card-body">PREGUNTA</card>
        
</form>

<form>
<div class="form-group mt-4">
        
        <div class="row">
            <div class="col">
                <input type="submit" value="A" class="btn btn-warning " name="botonpreg1">
                <textarea name="res1" class="form-control" placeholder="OPCION A" disabled="disabled"></textarea>
            </div>
            <div class="col">
                <input type="submit" value="B" class="btn btn-warning " name="botonpreg2">
                <textarea name="res2" class="form-control" placeholder="OPCION B"disabled="disabled"></textarea>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <input type="submit" value="C" class="btn btn-warning " name="botonpreg3">
                <textarea name="res3" class="form-control" placeholder="OPCION C"disabled="disabled"></textarea>
            </div>
            <div class="col">    
                <input type="submit" value="D" class="btn btn-warning " name="botonpreg4">
                <textarea name="res4" class="form-control" placeholder="OPCION D"disabled="disabled"></textarea>
            </div>
        </div>
</form>

<form>
    <div class="form-group mt-4">
    <input type="submit" value="COMODIN 1" class="btn btn-warning" name="comodin1">
    <input type="submit" value="COMODIN 2" class="btn btn-success" name="comodin2">
    <input type="submit" value="COMODIN 3" class="btn btn-danger" name="comodin3">
    </div>
</form>