<form>
<card class="card-body">PUNTOS

</card>
</form>

<form>
    <card class="card-body" name="Pregunta">PUNTOS</card>
    <div class="form-group mt-3">
        <textarea name="res1" class="form-control" placeholder="Respuesta 1"></textarea>
        <textarea name="res2" class="form-control" placeholder="Respuesta 2"></textarea>
        <textarea name="res3" class="form-control" placeholder="Respuesta 3"></textarea>
        <textarea name="res4" class="form-control" placeholder="Respuesta 4"></textarea>
</form>

<form>
    <card class="card-body" name="comodin1">COMODIN 1</card>
    <card class="card-body" name="comodin2">COMODIN 2</card>
    <card class="card-body" name="comodin3">COMODIN 3</card>
</form>