<div class="col-md-4 mx-auto mt-2">
    <div class="card">
        <div class="card-header"> Escriba el Nombre del Juego</div>
            <form action="/preguntas" method="POST">
                <div class="form-group">
                    <div class="d-grid gap-1 mt-2">    
                    <input type="text" name="juego" class="form-control" placeholder="Nombre del Juego" autofocus>
                    <input type="submit" class="btn btn-info btn-lg btn-block" name="boton" value="GUARDAR"></input>
                </div>
                </div>
             
            
        </form>
    
</div>
</div>