<nav class="navbar navbar-expand-lg navbar-dark d-flex" style="background-color:lightslategrey;">
  <div class="container">
    <div class="container-fluid d-flex">
      <a class="navbar-brand" href="/">Participante</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>     
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/index"><i class="bi bi-arrow-left-circle" style="font-size: 25px;"></i></a>
          </li>    
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="col-md-4 mx-auto mt-2">
    <div class="card">
        <div class="card-header" style="font-family: 'Times New Roman', Times, serif; color:black; font-size: 23px;"> Escriba el nombre del participante</div>
        <card class="card-body">
            <form action="/juegoAlumno" method="POST">
                <div class="form-group">
                    <input type="text" name="nombre" class="form-control" placeholder="Nombre Participante" autofocus>
                </div>
                <div class="boton">
                <input type="submit" value="Comencemos" class="btn btn-primary mb-2">
                </div>
            </form>
        </card>
    </div>
</div>    