<h3 class="formato">Votacion</h3>
<br></br>
<form>
   <div class="form-group b">
      <div class="d-grid gap-3 mt-6 ">    
        <input type="text" name="id" class="form-control" placeholder="Introduzca ID Juego" autofocus><span class="border-3"></span>
        <div class="boton">
            <input type="submit" name="idbtn" value="Ingresar" class="btn btn-primary mb-2">
        </div>
      </div>               
    </div>
</form>

