.html,body{
  /* Para que funcione correctamente en Smartphones y Tablets */
  height:100vh;
}
body{/*fondo degradado desde: uigradients.com*/
    
    background-image: url("https://wilmancuellar.com/wp-content/uploads/2017/08/millonario.jpg");
    background-image: url("https://wilmancuellar.com/wp-content/uploads/2017/08/millonario.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#container-fluid{
    display: flex;
    
    justify-content: center;
}

i{
    font-size: 70%;
}
.logo{
    width: 50%;
    margin-left: 25%;
}

.titulonav{
    border: 1px solid #d7d7d7;   
    font-size: 8pt;
    font-weight: bold;
    background-color: #e0e0e0;
    color: #000;
    padding: 4px;
 }
 .card-body{
    border: 1px solid #d7d7d7;   
    font-size: 8pt;
    font-weight: bold;
    background-color: #e0e0e0;
    color: #000;
    padding: 4px;
 }
 

.container-form {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    transition:  all .5s ease-out;
}

.welcome-back {
    display: flex;
    align-items: center;
    text-align: center;
}

.message {
    padding: 1rem;
}

.message h2 {
    font-size: 1.7rem;
    padding: 1rem 0;
}

.message button {
    padding: 1rem;
    font-weight: 400;
    background-color: #4a4aee;
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .9rem;
    margin-top: 2rem;
    transition: all .3s ease-in;
    color: #fff;
}

.message button:hover {
    background-color: #6464f8;
}

.formulario {
    width: 400px;
    padding: 0.1em;
    margin: 2rem;
    border-radius: 25px;
    background-color: rgba(51, 51, 51, 0.849);
    text-align: center;
}

.create-account {
    padding: 2.7rem 0;
    font-size: 1.7rem;
}

.create-account2 {
    padding: 2.7rem 0;
    font-size: 1.7rem;
}
.iconos {
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.border-icon {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: solid thin white;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all .3s ease-in;
}

.border-icon:hover {
    background-color: #4a4aee;
    cursor: pointer;
}


 .formularioImput{
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: white;
}

.formulario input[type="button"] {
    width: 60%;
    margin: auto;
    border: solid thin white;
    padding: .7rem;
    border-radius: 2rem;
    background-color: white;
    font-weight: 600;
    margin-top: 3rem;
    font-size: .8rem;
    cursor: pointer;
    color: #222;
}

.sign-in {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.sign-in.active {
    opacity: 1;
    visibility: visible;
}

.sign-up.active {
    opacity: 0;
    visibility: visible;
}

/*TOAST*/
#mitoast.cerrar {
    /* visibility: visible; */
    -webkit-animation: fadeout 0.5s 4.8s;
    animation: fadeout 0.5s 4.8s;
  }
   
  @-webkit-keyframes fadeout {
    from {right: 2.5%; opacity: 1;} 
    to {right: 0; opacity: 0;}
  }
   
  @keyframes fadeout {
    from {right: 2.5%; opacity: 1;}
    to {right: 0; opacity: 0;}
  }
  
  #mitoast {
    visibility: hidden;
    position: fixed;
    z-index: 1;
    right: 2.5%;
    top: 50%;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: .25rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.1);
    max-width: 310px;
    width: 310px;
    background-color: #ffffff;
    opacity: 1;
  }
   
  #mitoast.mostrar {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 4.6s;
    animation: fadein 0.5s, fadeout 0.5s 4.6s;
  }
   
  @-webkit-keyframes fadein {
    from {right: 0; opacity: 0;} 
    to {right: 2.5%; opacity: 1;}
  }
   
  @keyframes fadein {
    from {right: 0; opacity: 0;}
    to {right: 2.5%; opacity: 1;}
  }
   
  @-webkit-keyframes fadeout {
    from {right: 2.5%; opacity: 1;} 
    to {right: 0; opacity: 0;}
  }
   
  @keyframes fadeout {
    from {right: 2.5%; opacity: 1;}
    to {right: 0; opacity: 0;}
  }
   
  #mitoast.cerrar {
    /* visibility: visible; */
    -webkit-animation: fadeout 0.5s 4.8s;
    animation: fadeout 0.5s 4.8s;
  }
   
  @-webkit-keyframes fadeout {
    from {right: 2.5%; opacity: 1;} 
    to {right: 0; opacity: 0;}
  }
   
  @keyframes fadeout {
    from {right: 2.5%; opacity: 1;}
    to {right: 0; opacity: 0;}
  }
  
  #mitoast2 {
    visibility: hidden;
    position: fixed;
    z-index: 1;
    right: 2.5%;
    top: 50%;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: .25rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.1);
    max-width: 310px;
    width: 310px;
    background-color: #ffffff;
    opacity: 1;
  }
   
  #mitoast2.mostrar {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 4.6s;
    animation: fadein 0.5s, fadeout 0.5s 4.6s;
  }
   
  @-webkit-keyframes fadein {
    from {right: 0; opacity: 0;} 
    to {right: 2.5%; opacity: 1;}
  }
   
  @keyframes fadein {
    from {right: 0; opacity: 0;}
    to {right: 2.5%; opacity: 1;}
  }
   
  @-webkit-keyframes fadeout {
    from {right: 2.5%; opacity: 1;} 
    to {right: 0; opacity: 0;}
  }
   
  @keyframes fadeout {
    from {right: 2.5%; opacity: 1;}
    to {right: 0; opacity: 0;}
  }
   
  #mitoast2.cerrar {
    /* visibility: visible; */
    -webkit-animation: fadeout 0.5s 4.8s;
    animation: fadeout 0.5s 4.8s;
  }
   
  @-webkit-keyframes fadeout {
    from {right: 2.5%; opacity: 1;} 
    to {right: 0; opacity: 0;}
  }
   
  @keyframes fadeout {
    from {right: 2.5%; opacity: 1;}
    to {right: 0; opacity: 0;}
  }
  