@charset "UTF-8";
::-moz-focus-inner {
  border: 0;
  height:100vh;
}

:root {
  /* Colores que se utilizarán */
  --color-base: #071f5f;
  --color-secundario: #0e3ebe;
  --color-terciario: #efb40c;
  --color-terciarioB: #be8f0a;

  /* Posición superior de los botones, menos el primero */
  --margin-top: 10px;

  /* Grosor de la línea que pasa a través
     de los botones */
  --grosor: 15px;

  /* Altura de los botones */
  --height: 50px;

  /* Anchura máxima del contenedor principal */
  --width: 1400px;

  /* El relleno de los botones en porcentaje
     que será directamente proporcional a la 
     inclinación de sus ángulos en función de la
     posición de sus 4 nodos principales: */
  --relleno: 10%;

  /* Se emulará el padding pero en el color 
     de relleno del botón para dar la sensación
     visual de estar con bordes degradados de 
     3px de grosor: */
  --separacion: 3px;

  /* Formas */
  --formas: polygon(
    0% 50%,
    var(--relleno) 0%,
    calc(100% - var(--relleno)) 0%,
    100% 50%,
    calc(100% - var(--relleno)) 100%,
    var(--relleno) 100%
  );

  /* Imágenes de fondo de los botones */
  --fondoA: linear-gradient(90deg, rgba(14, 62, 190, 0.6) 20%, rgba(7, 31, 95, 0.9) 80%);
  --fondoB: linear-gradient(90deg, rgba(7, 31, 95, 0.9) 20%, rgba(14, 62, 190, 0.6) 80%);
  --fondoc: linear-gradient(90deg, rgba(225, 230, 245, 0.6) 20%, rgba(225, 228, 238, 0.9) 80%);
}

/* Contenedor principal */
.millonario {
  margin: 0 auto;
  max-width: var(--width);
}

/* En este *item* van a estar los botones y las líneas 
   que atraviesan los botones */
.millonario__item {
  position: relative;
  min-height: var(--grosor);
  transition: 300ms ease;
}

/* Margen superior del contenedor
   de los botones, menos el primer contenedor */
.millonario__item:not(:first-of-type) {
  margin-top: 100px;
}

/* Línea cilíndrica que atraviesa los botones de opciones de
   «quién quiere ser millonario» */
.millonario__item::before {
  content: "";
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  /* Fondo de las líneas que van entre los botones. Es la
     que le da la apariencia 3D */
  background-color: var(--color-base);
  background-image: linear-gradient(0deg, var(--color-base), white, var(--color-secundario));

  /* Altura de las líneas que están entre los botones*/
  height: var(--grosor);
}

/* Se mostrarán o no las líneas que atraviesan los botones
   en función del ancho disponible en el dispositivo en el
   se visualicen */
@media screen and (min-width: 450px) {
  .millonario__item::before {
    display: block;
  }
}
@media screen and (max-width: 449px) {
  .millonario__item::before {
    display: none;
  }
}

/* Se comportará como cajas flexibles o no en función 
   del ancho disponible en el dispositivo en el que se
   visualicen */
.opciones {
  display: flex;
}
@media screen and (max-width: 449px) {
  .opciones {
    display: block;
  }
}

.opciones__item {
  --padding: 10px;
  --divisor: 4;

  transition: 300ms ease;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 50%;
  position: relative;
  min-height: var(--height);
}
.opciones__pregunta {
  --padding: 50px;
  --divisor: 4;

  transition: 300ms ease;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 50%;
  position: relative;
  min-height: var(--height);
}

@media screen and (min-width: 450px) {
  .opciones__item:first-of-type {
    padding-left: var(--padding);
    padding-right: calc(var(--padding) / var(--divisor));
  }
}

@media screen and (min-width: 449px) {
  .opciones__item:last-of-type {
    padding-right: var(--padding);
    padding-left: calc(var(--padding) / var(--divisor));
  }
}

@media screen and (max-width: 449px) {
  .opciones__item:not(:first-of-type) {
    margin-top: 10px;
  }
}

.opciones__item::before {
  content: "";
  display: block;
  position: absolute;
  margin: auto;
  background-color: #d0dcfc;
}
.opciones__item:hover .button::before {
  background-color: var(--color-terciarioB);
}

.button {
  display: block;
  position: relative;
  
  /* Relleno horizontal + 4px adicionales en función
     de la posición de los nodos principales */
  padding-left: calc(var(--relleno) + 4px);
  padding-right: calc(var(--relleno) + 4px);
  
  /* Relleno vertical en función del borde que emulamos
     que queremos que se visualice, que es la que rodea
     el botón*/
  padding-top: calc(var(--separacion));
  padding-bottom: calc(var(--separacion));
  
  /* Se visualizarán los puntos suspensivos en el texto que
     no quepan en el botón */
  overflow: hidden;
  text-overflow: ellipsis;
  
  min-height: var(--height);
  width: 100%;
  transition: 300ms ease;

  /* La apariencia deseada en los botones */
  clip-path: var(--formas);

  border: 0;
  color: white;
  font-weight: bold;
  text-align: left;

  /* Imagen de fondo que utilizaremos para emular el borde 
     degradado que rodea el botón */
  background-image: radial-gradient(white, var(--color-secundario) 30%, white 50%, var(--color-secundario));
  
  background-size: 120% 100%;
  background-position: center center;
}

.button:active {
  transform: scale(0.98);
}

/* Se utiliza un pseudoelemento que tendrá una imagen de fondo. El
   pseudo elemento tapará la imagen de fondo del botón, pero, 
   dejará visualizar 3px en los alrededores. Fundamental para
   emular el fondo degradado */
.button::before {
  transition: 300ms ease;
  content: "";
  display: block;
  position: absolute;
  margin: auto;
  left: calc(var(--separacion) * 2);
  right: calc(var(--separacion) * 2);
  top: var(--separacion);
  bottom: var(--separacion);
  clip-path: var(--formas);
  background-color: var(--color-secundario);
  z-index: -1;
}

/* Con esta regla se construye una imagen de fondo para el 
   pseudoelemento que tapará la imagen de fondo del botón
   hasta cierto punto (3px)*/
.fondoA::before {
  transition: 300ms ease;
}
@media screen and (max-width: 449px) {
  .fondoA::before {
    background-image: var(--fondoB);
  }
}
@media screen and (min-width: 450px) {
  .fondoA::before {
    background-image: var(--fondoA);
  }
}

.fondoB::before {
  background-image: var(--fondoB);
}

/* Colores */
.amarillo {
  color: var(--color-terciario);
}
.formato{
  
  margin: auto;
  text-align: center;
  border-radius: 40%;
  background-color:lightskyblue;
  height: 40px;
  width: 700px;
  border-color: #0e3ebe;
  font-family: 'Times New Roman', Times, serif;
}
.boton_pista{
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 2% solid #999;
  /*margin: auto;
  text-align: center;
  border-radius: 25px;
  height: 60px;
  width: 50px;
  background-color:blue;
  color:yellow;
  font-family: 'Times New Roman', Times, serif;*/
}
.opciones{
  display: flex;
  align-items: center;
  justify-content:center;
  text-align: center;
  min-width: 100vh;
  margin: 1rem;
  padding: 1rem;
  border-radius: 2% solid #999;
}

.boton{
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 2% solid #999;
}


/*TOAST*/
#mitoast.cerrar {
  /* visibility: visible; */
  -webkit-animation: fadeout 0.5s 4.8s;
  animation: fadeout 0.5s 4.8s;
}
 
@-webkit-keyframes fadeout {
  from {right: 2.5%; opacity: 1;} 
  to {right: 0; opacity: 0;}
}
 
@keyframes fadeout {
  from {right: 2.5%; opacity: 1;}
  to {right: 0; opacity: 0;}
}

#mitoast {
  visibility: hidden;
  position: fixed;
  z-index: 1;
  right: 2.5%;
  top: 50%;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: .25rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.1);
  max-width: 310px;
  width: 310px;
  background-color: #ffffff;
  opacity: 1;
}
 
#mitoast.mostrar {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 4.6s;
  animation: fadein 0.5s, fadeout 0.5s 4.6s;
}
 
@-webkit-keyframes fadein {
  from {right: 0; opacity: 0;} 
  to {right: 2.5%; opacity: 1;}
}
 
@keyframes fadein {
  from {right: 0; opacity: 0;}
  to {right: 2.5%; opacity: 1;}
}
 
@-webkit-keyframes fadeout {
  from {right: 2.5%; opacity: 1;} 
  to {right: 0; opacity: 0;}
}
 
@keyframes fadeout {
  from {right: 2.5%; opacity: 1;}
  to {right: 0; opacity: 0;}
}
 
#mitoast.cerrar {
  /* visibility: visible; */
  -webkit-animation: fadeout 0.5s 4.8s;
  animation: fadeout 0.5s 4.8s;
}
 
@-webkit-keyframes fadeout {
  from {right: 2.5%; opacity: 1;} 
  to {right: 0; opacity: 0;}
}
 
@keyframes fadeout {
  from {right: 2.5%; opacity: 1;}
  to {right: 0; opacity: 0;}
}
