<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Practico N°5</title>
</head>
<body>
    {{>navegacion}}
        <main class="container">
        <!--si existe un mensaje desde partials se van a mostrar con las globales de mensajes-->
            {{>messages}}
            {{>errors}}
            {{{body}}}
        </main>  
</body>
</html>
